.subs {
  min-width: 160px;
}

.fa {
  font-size: 22px;
  margin-right: 5px;
  margin-left: 15px;
}

a:not([href]):not([tabindex]){
  color: #1b1b1b;
}
.hassubs{
  cursor: pointer;
}

.shopping_cart{
  cursor: pointer;
}

.main_nav ul li.hassubs::after{
  color: #1b1b1b;
}

.form-group{
  display: block;
}

.rounded-border{
  border: 1px solid #808080;
  border-radius: 12px;
}
.hassubs ul{
  padding-left: 0px;
  padding-right: 35px;
  margin-top: 10px;
  top:calc(100%);
}
