<div class="cart_info">
  <div class="container" *ngIf="user.cart.length">
    <div class="row" style="margin-top: 50px">
      <div class="col">
        <!-- Column Titles -->
        <div class="cart_info_columns clearfix">
          <div class="cart_info_col cart_info_col_product">Product</div>
          <div class="cart_info_col cart_info_col_price">Price</div>
          <div class="cart_info_col cart_info_col_quantity">Quantity</div>
          <div class="cart_info_col cart_info_col_total">Total</div>
        </div>
      </div>
    </div>
    <div class="row cart_items_row">
      <div class="col">

        <!-- Cart Item -->
        <div
          class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start"
          *ngFor="let item of user.cart">
          <!-- Name -->
          <div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
            <div class="cart_item_image">
              <div><img src="assets/img/product_1.jpg" alt=""></div>
            </div>
            <div class="cart_item_name_container">
              <div class="cart_item_name"><a>{{item.book.title}}</a></div>
              <div class="cart_item_edit"><a>{{item.book.genre.label}}</a></div>
            </div>
          </div>
          <!-- Price -->
          <div class="cart_item_price">
            {{(item.book.activeDiscount?item.book.activeDiscount.percentage/100:1)* item.book.price}}DT
          </div>
          <!-- Quantity -->
          <div class="cart_item_quantity">
            <div class="product_quantity_container">
              <div class="product_quantity clearfix">
                <span>{{item.quantity}}</span>
              </div>
            </div>
          </div>
          <!-- Total -->
          <div class="cart_item_total">{{(item.book.activeDiscount?item.book.activeDiscount.percentage/100:1)* item.book.price*item.quantity}}DT</div>
        </div>

      </div>
    </div>
    <div class="row row_cart_buttons">
      <div class="col">
        <div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
          <div class="button continue_shopping_button"><a routerLink="/">Continue shopping</a></div>
          <div class="cart_buttons_right ml-lg-auto">
            <div class="button clear_cart_button" (click)="clearCart()"><a>Clear cart</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_extra">
      <div class="col-lg-6 offset-lg-6">
        <div class="cart_total">
          <div class="section_title">Cart total</div>
          <div class="section_subtitle">Final info</div>
          <div class="cart_total_container">
            <ul>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <div class="cart_total_title">Total</div>
                <div class="cart_total_value ml-auto">{{user.totalCart}}DT</div>
              </li>
            </ul>
          </div>
          <div class="button checkout_button"><a href="#">Proceed to checkout</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!user.cart.length" style="text-align: center;margin-top: 15%">
    <h3>Your cart is still empty empty</h3>
    <div class="button" style="text-align: center; margin: 20px auto auto;"><a routerLink="/">Start shopping</a></div>
  </div>
</div>
