<div class="bg">
  <div class="container col-xs-12 col-sm-8 col-md-6 col-lg-5">
    <div class="logo"><a style="color: #1b1b1b">BookStore.</a></div>
    <form>
      <div class="form-group" style="text-align: left">
        <Label>Name: </Label>
        <input class="form-control" name="name" placeholder="Name">
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Family Name: </Label>
        <input class="form-control" name="fname" placeholder="Family Name">
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Email: </Label>
        <input class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Phone Number: </Label>
        <input class="form-control" name="phone" placeholder="Phone Number">
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Password: </Label>
        <input class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Confirm Password: </Label>
        <input class="form-control" name="c-password" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
