<div class="bg">
  <div class="container col-xs-12 col-sm-8 col-md-6 col-lg-5">
    <div class="logo"><a style="color: #1b1b1b">BookStore.</a></div>
    <form>
      <div class="form-group" style="text-align: left">
        <Label>Name: </Label>
        <input class="form-control" name="name" placeholder="Name" [(ngModel)]="user.name" type="text">
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Family Name: </Label>
        <input class="form-control" name="fname" placeholder="Family Name" [(ngModel)]="user.familyName" type="text">
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Email: </Label>
        <input class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email" type="email">
        <h6 *ngIf="user.email.length && !this.user.validEmail()">*Please enter a valid email</h6>
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Phone Number: </Label>
        <input class="form-control" name="phone" placeholder="Phone Number" [(ngModel)]="user.phone" type="number">
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Password: </Label>
        <input class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password" type="password">
        <h6 *ngIf="user.password.length && user.password.length<6">*Password must be at least 8 characters long!</h6>
      </div>
      <div class="form-group" style="text-align: left">
        <Label>Confirm Password: </Label>
        <input class="form-control" name="c-password" placeholder="Confirm Password" [(ngModel)] = "user.cPassword" type="password">
        <h6 *ngIf="user.cPassword.length && user.cPassword != user.password">*Passwords do not match </h6>
      </div>
      <button type="submit" class="btn btn-primary" (click)="register()">Sign Up</button>
    </form>
  </div>
</div>
